<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SRCocoaDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SRDemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftlyReachable.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftlyReachableOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftlyReachableTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D3E652719C8D82900404C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D3E653A19C8D82900404C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6788C619CFB4E70071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6788D019CFB4E70071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6788E419D0A6E30071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6788EE19D0A6E30071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D67890119D0A87E0071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D67891419D0AFBF0071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D67891E19D0AFBF0071EB28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFBBDB419B8229C00B333D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFBBDBF19B8229C00B333D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFBBDD119B824E900B333D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFBBDE219B824E900B333D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
